.Error404 {
  color: $nvgum;
  text-align: center;
  padding: 15px 0 60px;
  max-width: 450px;
  margin: auto;
  h1 {
    font-size: 7em;
    line-height: 1;
    margin: 25px 0;
  }
  p {
    font-size: 1.6em;
    line-height: 2.25;
    margin: 5px 0;
    a {
      color: $tango;
    }
  }
}
