&-Nav {
  float: right;
  ul {
    padding: 0;
    margin: 0;
    li {
      @media screen and (max-width: 1200px) {
        display: none;
      }
      padding: 0;
      margin: 0;
      list-style: none;
      display: inline-block;
      a {
        display: block;
        font-size: 1.6em;
        color: $nvgum;
        text-decoration: none;
        margin-right: 36px;
      }
      &.Header-Nav-Login {
        a {
          color: $tango;
        }
      }
      .easya-btn-nav {
        margin: -4px 0;
        cursor: pointer;
      }
      &.download {
        display: none;
        @media screen and (max-width: 1200px) {
          display: inline-block;
        }
      }
    }
  }
}
