&-Ham {
  padding: 0 3px 3px;
  border-radius: 3px;
  float: left;
  margin: 6px 12px 0 -2px;
  span {
    display: block;
    margin-top: 3px;
    background-color: $nvgum;
    width: 15px;
    height: 2px;
  }
}
