.easya {
  &-btn {
    &-nav {
      padding: 15px 40px;
      border-radius: 25px;
      color: $white;
      background-color: $tango;
      border: 0;
      font-size: 1.5em;
      box-shadow: 0 4px 0 0 rgba($tango, 0.26);
      transition: all 0.15s linear;
      position: relative;
      top: 0;
      &:hover {
        top: 4px;
        box-shadow: 0 0 0 0 rgba($tango, 0.26);
      }
      @media screen and (max-width: 1200px) {
        font-size: 1.15em;
        padding: 12px 20px;
      }
    }
    &-banner {
      border-radius: 30px;
      padding: 15px 64px;
      background-color: $white;
      color: $nvgum;
      font-size: 1.5em;
      letter-spacing: 0.6px;
      box-shadow: 0 4px 0 0 rgba($white, 0.55);
      display: inline-block;
      font-weight: 700;
      text-decoration: none;
      transition: all 0.15s linear;
      position: relative;
      top: 0;
      &:hover {
        top: 4px;
        box-shadow: 0 0 0 0 rgba($white, 0.26);
      }
    }
  }
}
@mixin EasyABanner {
  display: flex;
  position: relative;
  margin: 110px 0;
  justify-content: space-between;
  border-radius: 20px;
  overflow: hidden;
  @media screen and (max-width: 1200px) {
    border-radius: 0;
    margin: 50px 0;
    flex-direction: column;
  }
  &-OverlayImage {
    position: absolute;
    &.Bottom {
      bottom: 0;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
    }
  }
  &-Text {
    max-width: 585px;
    h2 {
      font-size: 5em;
      font-weight: 600;
      letter-spacing: -1.12px;
      line-height: 1.12;
      margin: 0 0 25px;
    }
    p {
      font-weight: 300;
      font-size: 1.8em;
      letter-spacing: 0.1px;
      line-height: 1.6;
      margin-right: 50px;
    }
    .action-button {
      margin: 25px 0;
      a {
        padding: 15px 50px;
        font-weight: 600;
        display: inline-block;
      }
    }
    @media screen and (max-width: 1200px) {
      max-width: none;
      padding: 25px 5px;
      text-align: center;
      h2 {
        font-size: 3.25em;
        font-weight: 600;
        letter-spacing: -1.12px;
        line-height: 1.2;
        margin-bottom: 10px;
      }
      p {
        font-size: 1.65em;
        letter-spacing: 0.1px;
        line-height: 1.6;
        margin: 0 20px;
      }
      .action-button {
        margin: 25px 0 0;
        a {
          padding: 15px 50px;
          display: block;
          margin: 40px 10px 10px;
          font-size: 1.6em;
        }
      }
    }
  }
}
@mixin PageWrap($my) {
  max-width: 1260px;
  margin: $my auto;
  @media screen and (max-width: 1200px) {
    max-width: none;
  }
}
