.easya {
  &-btn {
    &-nav {
      padding: 15px 40px;
      border-radius: 25px;
      color: $white;
      background-color: #f37121;
      border: 0;
      font-size: 1.5em;
      box-shadow: 0 4px 0 0 rgba(#f37121, 0.26);
    }
    &-banner {
      border-radius: 30px;
      padding: 15px 64px;
      background-color: $white;
      color: #321454;
      font-size: 1.5em;
      letter-spacing: 0.6px;
      box-shadow: 0 4px 0 0 rgba($white, 0.55);
      display: inline-block;
      font-weight: 700;
      text-decoration: none;
    }
  }
}
