body {
  @import "Colours";
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-size: 10px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "CircularStd";
  }
  a {
    text-decoration: none;
  }
  .App {
    @import "Utils";
    @import "Shared/Header/Header";
    @import "Shared/Footer/Footer";
    @import "Home/Home";
  }
}
