/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #f37121;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ee9b00;
}

::-webkit-scrollbar-button:single-button {
  background-color: rgb(255, 253, 253);
  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
}

/* Up Arrow*/
::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 16px;
  width: 16px;
  background-position: center 4px;
  background-image: url("../assets/uparrow.png");
}

/* Down Arrow*/
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 16px;
  width: 16px;
  background-position: center 2px;
  background-image: url("../assets/downarrow.png");
}

/*Hiding Scrollbar on Mobile Screens*/

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
body {
  @import "Colours";
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-size: 10px;
  * {
    box-sizing: border-box;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "CircularStd";
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  .App {
    @media screen and (max-width: 1200px) {
      overflow-x: hidden;
    }
    @import "Overrides";
    @import "Utils";
    @import "Shared/Sprites";
    @import "Shared/InfoPage";
    @import "Shared/Error404";
    @import "Shared/Header/Header";
    @import "Shared/Footer/Footer";
    @import "Shared/Banners/BackgroundBannerWithImage";
    @import "Shared/Banners/AceTestWithEasyA";
    @import "Shared/Banners/BasicPrinciples";
    @import "Shared/Banners/TeacherSlider";
    @import "Home/Home";
    @import "About/About";
    @import "Subjects/Subjects";
    @import "HowItWorks/HowItWorks";
    @import "TeachingMethods/TeachingMethods";
    @import "WMCAL/WMCAL";
    @import "ATBT/ATBT";
    @import "Pricing/Pricing";
    @import "Testimonials/Testimonials";
    @import "Blog/Blog";
    @import "BlogDetails/BlogDetails";
    @import "FAQs/FAQs";
    @import "ContactUs/ContactUs";
  }
}
