&-Intro {
  display: flex;
  flex-direction: row;
  margin: 20px 0 50px;
  align-items: center;
  h1 {
    font-size: 7em;
    padding: 0 10px;
    font-weight: 600;
    letter-spacing: -1.56px;
    line-height: 1.1;
    margin: 0 50px 0 0;
  }
  img {
    width: 685px;
    margin-right: -80px;
  }
  @media screen and (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    margin: 20px 0 50px;
    align-items: center;
    h1 {
      font-size: 3.2em;
      padding: 0 10px;
      font-weight: 600;
      letter-spacing: -0.72px;
      line-height: 1.2;
      margin: 0 16px;
      text-align: center;
    }
    img {
      width: 450px;
      margin-top: 30px;
      margin-right: -80px;
    }
  }
}
