&-Empathy {
  max-width: 1280px;
  margin: 0 auto 180px;
  h2 {
    font-size: 5em;
    font-weight: 600;
    letter-spacing: -1.12px;
    line-height: 1.12;
    margin: 0 auto 90px;
    max-width: 950px;
    text-align: center;
  }
  &-List {
    &-Item {
      display: flex;
      margin-top: 100px;
      align-items: center;
      &:first-child {
        margin-top: 0;
      }
      &-Text {
        width: 47.5%;
        padding: 0 100px;
        h3 {
          font-size: 5em;
          font-weight: 600;
          letter-spacing: -1.12px;
          line-height: 1.12;
          margin: 0 0 18px;
        }
        p {
          font-size: 1.8em;
          letter-spacing: 0.18px;
          line-height: 1.6;
          margin: 0 0 18px;
        }
        .action-button {
          .easya-btn-nav {
            display: inline-block;
            width: 170px;
          }
        }
      }
      &-Image {
        width: 52.5%;
        img {
          width: 100%;
        }
      }
      &.Reverse {
        .ATBT-Empathy-List-Item-Image {
          order: 2;
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    margin: 0;
    h2 {
      font-size: 3.2em;
      font-weight: 500;
      line-height: 1.2;
      margin: 15px 16px 30px;
      text-align: left;
    }
    &-List-Item {
      display: flex;
      flex-direction: column;
      margin-top: 35px;
      &-Image {
        padding: 0 16px;
        width: 100%;
        order: 2;
      }
      &-Text {
        width: 100%;
        padding: 20px 16px;
        h3 {
          font-size: 2.2em;
          font-weight: 500;
          margin: 0 0 18px;
        }
        p {
          font-size: 1.4em;
        }
        .action-button {
          margin-bottom: 35px;
          .easya-btn-nav {
            font-size: 1.5em;
            padding: 12px 20px;
            text-align: center;
          }
        }
      }
    }
  }
}
