&-Intro {
  @include EasyABanner;
  margin: 0;
  .About-Intro {
    width: 1260px;
    margin: 50px auto 80px;
    h2 {
      font-size: 7em;
      font-weight: 600;
      letter-spacing: -1.56px;
      line-height: 1.1;
      margin: 0 0 25px;
    }
  }
  @media screen and (max-width: 1200px) {
    margin: 50px 0 0;
    .About-Intro {
      width: 100%;
      margin: 0 0 80px;
      h2 {
        font-size: 3.2em;
        line-height: 1.3;
        letter-spacing: -0.72px;
      }
      &-Image {
        img {
          width: 330px;
        }
      }
    }
  }
}
