.BackedByBanner {
  @include EasyABanner;
  background-color: $tango;
  color: $white;
  overflow: visible;
  @media screen and (max-width: 1200px) {
    margin-bottom: 115px;
  }
  &-OverlayImage {
    &.Bottom {
      max-width: 385px;
      bottom: 15px;
      @media screen and (max-width: 1200px) {
        max-width: 295px;
      }
    }
  }
  &-Image {
    width: 65%;
    padding: 36px 15px 0;
    img {
      margin: 50px 0 0;
      display: block;
      width: 100%;
    }
    @media screen and (max-width: 1200px) {
      padding: 0 15px;
      order: 2;
      width: auto;
      img {
        margin: 0 0 42px;
      }
    }
  }
  &-Text {
    padding: 125px 65px 0;
    @media screen and (max-width: 1200px) {
      padding: 60px 16px 50px;
      text-align: left;
      h2 {
        margin-right: 25px;
      }
      p {
        margin: 0;
      }
    }
  }
}
