&-Child247 {
  @include EasyABanner;
  @media screen and (max-width: 575px) {
    margin: 50px 0;
    flex-direction: column;
  }
  &-Image {
    padding: 0 105px;
    @media screen and (max-width: 575px) {
      padding: 20px 94px;
      img {
        max-width: 100%;
      }
    }
  }
}
