&-Subjects {
  text-align: center;
  margin-bottom: 110px;
  margin-right: 45px;
  h2 {
    font-size: 5em;
    font-weight: 600;
    letter-spacing: -1.12px;
    line-height: 1.12;
    max-width: 825px;
    margin: 0 auto 70px;
    @media screen and (max-width: 1200px) {
      font-size: 3.2em;
      margin-bottom: 26px;
      padding: 0 16px;
      text-align: left;
      line-height: 1.28;
    }
  }
  &-List {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    li {
      margin: 10px 15px;
      list-style: none;
      margin-bottom: 30px;
      border-radius: 20px;
      padding: 35px;
      width: 220px;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      @media screen and (max-width: 1200px) {
        width: 40%;
        margin: 10px;
      }
      span {
        font-size: 1.6em;
        &:first-child {
          display: block;
          margin: auto;
          transform: scale(0.5);
          &::before {
            display: block;
            content: "";
            position: absolute;
            margin: -125px -300px;
            width: 1000%;
            height: 520%;
          }
        }
      }
      &:hover {
        background-color: $seance;
        color: #fff;
      }
    }
  }
  p {
    margin: 25px 0;
    font-size: 18px;
    letter-spacing: 0.18px;
    line-height: 1.61;
    @media screen and (max-width: 1200px) {
      margin: 32px 16px;
    }
  }
  .action-button {
    .easya-btn-nav {
      display: inline-block;
      @media screen and (max-width: 1200px) {
        font-size: 1.5em;
        text-align: center;
        width: 200px;
      }
    }
  }
}
