&-ParentTestimonial {
  &-Banner {
    @include EasyABanner;
    color: $white;
    @media screen and (max-width: 1200px) {
      display: block;
    }
    &-Image {
      width: 32%;
      padding: 60px 40px;
      @media screen and (max-width: 1200px) {
        padding: 16px;
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
    &-Text {
      padding: 80px 65px 0;
      width: 68%;
      max-width: none;
      h2 {
        font-size: 3.6em;
        line-height: 1.42;
        font-weight: normal;
      }
      @media screen and (max-width: 1200px) {
        padding: 50px 16px;
        width: auto;
        text-align: left;
        h2 {
          font-size: 2.8em;
          margin-right: 0;
        }
        p {
          font-size: 1.8em;
          margin: 32px 0 0;
        }
      }
    }
  }
}
