.arrow-up-button{
    height: 55px;
    width: 55px;
    position: fixed;
    right: 23px;
    bottom: 90px;
    background-color: rgb(101, 16, 180);
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 10px 12px;
  
}

.faArrowUp{
    color:#fff;
    font-size: 35px;
}