.arrow-up-button{
    height: 55px;
    width: 55px;
    position: fixed;
    right: 23px;
    bottom: 90px;
    background-color: rgb(101, 16, 180);
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 10px 12px;
  
}

.faArrowUp{
    color:#fff;
    font-size: 35px;
}
.btnScrollToTop {
    width: 50px;
    height: 50px;
    margin: 8px;
    border: none;
    text-decoration: none;
    position: fixed;
    bottom: 80px;
    outline: none;
    animation: up 1.5s infinite;
    -webkit-animation: up 1.5s infinite;
  }
  @keyframes up {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(-15px);
    }
    40% {
      transform: translate(0);
    }
  }
  
  @-webkit-keyframes up {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(-15px);
    }
    40% {
      transform: translate(0);
    }
  }