&-Banner {
  background-color: $seance;
  color: $white;
  margin:45px;
  &-Wrap {
    @include PageWrap(60px);
    margin-top: 0;
    padding: 60px 0;
    @media screen and (max-width: 1200px) {
      padding: 45px 16px;
      margin: 0;
    }
  }
  h1 {
    font-size: 6.4em;
    letter-spacing: -1.83px;
    line-height: 1.15;
    font-weight: 400;
    margin: 0 0 55px;
    @media screen and (max-width: 1200px) {
      font-size: 3.6em;
      letter-spacing: -0.8px;
      line-height: 1.27;
      margin-bottom: 20px;
    }
  }
  &-Meta {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 1200px) {
      display: block;
    }
    &-Image {
      flex-grow: 1;
      img {
        max-width: 100%;
      }
    }
    &-Author {
      padding: 0 0 0 95px;
      flex-grow: 1;
      min-width: 385px;
      max-width: 385px;
      p {
        font-size: 1.6em;
        letter-spacing: -0.36px;
        line-height: 1.625;
      }
      &-Meta {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        padding: 0 0 20px;
        border-bottom: 2px solid $supernova;
        img {
          width: 64px;
          height: 64px;
        }
        &-Desc {
          padding: 0 20px;
          p {
            font-size: 1.8em;
            line-height: 1.2;
            margin: 0 0 5px;
            font-weight: 300;
            strong {
              font-weight: 600;
            }
          }
        }
      }
    }
    @media screen and (max-width: 1200px) {
      display: block;
      &-Image {
        margin-bottom: 20px;
      }
      &-Author {
        min-width: 0;
        max-width: none;
        padding: 0;
        p {
          font-size: 1.6em;
          font-weight: 300;
        }
        &-Meta {
          img {
            width: 42px;
            height: 42px;
          }
        }
      }
    }
  }
}
