&-Suggestion {
  @include PageWrap(100px);
  color: $nvgum;
  h2 {
    font-size: 5em;
    font-weight: 600;
    letter-spacing: -1.12px;
    line-height: 1.12;
    margin: 0 0 50px;
  }
  &-List {
    columns: 2;
  }
  @media screen and (max-width: 575px) {
    margin: 50px auto 0;
    h2 {
      font-size: 3.2em;
      padding: 16px;
      margin: 0;
    }
    &-List {
      columns: 1;
      .BlogPost {
        padding: 16px;
        &-Content {
          position: relative;
          top: -100px;
          left: 0;
          right: 0;
          margin: 25px 25px -100px;
        }
      }
    }
  }
}
