&-Step {
  margin: 64px 0;
  margin-left: 45px;
  margin-right: 45px;
  color: $nvgum;
  &:first-child {
    margin-top: 50px;
  }
  .StepRow {
    display: flex;
    .Heading {
      margin-bottom: 60px;
      width: 50%;
      h2 {
        font-size: 5em;
        font-weight: 600;
        letter-spacing: -1.12px;
        line-height: 1.12;
        margin: 0 0 20px;
        span {
          display: inline-block;
          width: 95px;
          font-size: 1.4em;
        }
      }
      .desc {
        margin: 0 0 0 100px;
        font-size: 1.8em;
        letter-spacing: 0;
        line-height: 1.6;
      }
    }
    .ImgContainer {
      min-width: 585px;
      text-align: center;
      img {
        height: 300px;
      }
    }
    .BGContainer {
      padding: 55px;
      border-radius: 20px;
      h3 {
        font-size: 3.6em;
        font-weight: 600;
        letter-spacing: -0.8px;
        line-height: 1;
        margin: 0 0 22px;
      }
      .subdesc {
        font-size: 1.8em;
        letter-spacing: 0;
        line-height: 1.6;
      }
    }
  }
  &.Reverse {
    .StepRow {
      flex-direction: row-reverse;
      .BGContainer {
        border-radius: 20px;
      }
    }
  }
  .hr {
    display: none;
  }
  @media screen and (max-width: 1200px) {
    .hr {
      margin: 0 10px 0px 10px;
      color: $seance;
      opacity: 0.2;
    }
    .StepRow {
      display: block;
      padding: 0;
      .Heading {
        margin-bottom: 6em;
        width: 100%;
        h2 {
          font-size: 2.5em;
          font-weight: 500;
          letter-spacing: -1.12px;
          line-height: 1.12;
          margin: 0 0 10px;
          span {
            display: inline-block;
            width: 95px;
            font-size: 1.4em;
            padding-left: 16px;
            padding-right: 30px;
            width: 20px;
            color: $nvgum;
            font-size: 1.2em;
            font-weight: 500;
            letter-spacing: -0.72px;
            line-height: 2;
          }
        }
        .desc {
          margin: 0 18px;
          font-size: 1.4em;
          letter-spacing: 0;
          line-height: 1.6;
        }
      }
      .ImgContainer {
        padding: 0 16px;
        height: auto;
        min-width: 585px;
        text-align: center;
        margin-top: -36px;
        img {
          width: 340px;
          height: auto;
          display: block;
          margin-bottom: 75px;
        }
      }
      .BGContainer {
        padding: 10px;
        border-radius: 20px;
        margin-right: 10px;
        h3 {
          font-size: 2.2em;
          font-weight: 600;
          letter-spacing: -0.8px;
          line-height: 1;
          margin: 0 0 10px;
        }
        .subdesc {
          font-size: 1.4em;
          letter-spacing: 0;
          line-height: 1.6;
        }
      }
      .right {
        border-radius: 20px 0 0 20px;
        margin-right: 0;
        margin-left: 15px;
      }
    }
    &.Reverse {
      .StepRow {
        flex-direction: row-reverse;
        .BGContainer {
          border-radius: 0 20px 20px 0;
        }
      }
    }
  }
}
