&-Questions {
  display: flex;
  flex-direction: row;
  margin: 0 -15px;
  &-Item {
    border: 5px solid $shellpeach;
    border-radius: 5px;
    padding: 30px;
    flex-grow: 1;
    margin: 0 15px;
    h3 {
      margin: 0 0 20px;
      font-size: 2.2em;
      font-weight: 600;
      letter-spacing: 0.22px;
      line-height: 1.318;
    }
    p,
    a {
      margin: 0 0 10px;
      font-family: 'Courier New', Courier, monospace;
      font-size: 1.4em;
      letter-spacing: 0px;
      line-height: 1.714;
    }
    a {
      font-size: 1.6em;
      display: block;
      font-weight: 600;
      color: $tango;
      display: block;
      img {
        vertical-align: middle;
        position: relative;
        top: -2px;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    flex-direction: column;
    &-Item {
      margin: 0 15px 35px;
    }
  }
}
