.ContactUs {
  @include PageWrap(60px);
  @media screen and (max-width: 575px) {
    margin: 40px auto;
  }
  &-Intro {
    margin: 215px 0 50px;
    padding: 50px 50px 50px 50%;
    background-color: $seance;
    color: $white;
    border-radius: 20px;
    position: relative;
    h1 {
      font-size: 7em;
      font-weight: 600;
      letter-spacing: -1.56px;
      line-height: 1.1;
      margin: 0 0 8px;
    }
    p {
      font-size: 1.8em;
      letter-spacing: 0.18px;
      line-height: 1.6;
      font-weight: 300;
      margin: 0;
    }
    img {
      position: absolute;
      left: -0.5px;
      bottom: 25px;
      width: 480px;
    }
  }
  &-Form {
    display: block;
    label {
      display: block;
    }
    input,
    select,
    textarea {
      font-family: inherit;
      border: 2px solid $borders;
      display: block;
      border-radius: 8px;
      padding: 12px 16px;
      font-size: 1.6em;
      letter-spacing: 0.3px;
      line-height: 1.375;
      margin-bottom: 30px;
      width: 100%;
    }
    textarea {
      resize: none;
      height: 8em;
    }
    select {
      background-color: $white;
      -webkit-appearance: none;
    }
    .select {
      position: relative;
      &::after {
        content: "";
        width: 15px;
        height: 12px;
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -6px;
        right: 15px;
        background: url("../../assets/FAQClosed.svg") no-repeat center right;
      }
    }
  }
}
