&.MonthlyPricing-Intro {
  margin-bottom: 100px;
  margin-left: 45px;
  margin-right: 45px;
  h1 {
    margin: 0 0 30px;
  }
  p {
    font-size: 3.4em;
    letter-spacing: 0.34px;
    line-height: 1;
    font-weight: 300;
    @media screen and (max-width: 1200px) {
      font-size: 2em;
      margin: 0 10px 60px;
    }
  }
  .Pricing-Intro-PlanList-Item {
    display: flex;
    flex-direction: row;
    padding: 0;
    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }
    .BestValue-Banner {
      max-width: 435px;
      @media screen and (max-width: 1200px) {
        max-width: none;
        width: auto;
      }
    }
    p {
      font-weight: normal;
      font-size: 1.8em;
      line-height: 1.44;
      @media screen and (max-width: 1200px) {
        margin: 0 0 30px;
      }
    }
    .easya-bgc-white {
      min-width: 61.5%;
      max-width: 61.5%;
      margin: 0;
      padding: 40px;
      border-radius: 20px;
      @media screen and (max-width: 1200px) {
        min-width: 0;
        max-width: none;
        border-radius: 20px;
      }
      ul {
        columns: 2;
        @media screen and (max-width: 1200px) {
          columns: 1;
        }
      }
    }
    &-Features {
      margin: 0;
      padding: 50px;
      min-width: 38.5%;
      max-width: 38.5%;
      @media screen and (max-width: 1200px) {
        min-width: 0;
        max-width: none;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      button {
        width: 150px;
        @media screen and (max-width: 1200px) {
          margin-left: 20px;
        }
        box-shadow: 0 4px 0 0 rgba(96, 23, 156, 0.26);
        position: relative;
        top: 0;
        transition: all 0.25s linear;
        &:hover {
          top: 3px;
          box-shadow: 0 0 0 rgba(96, 23, 156, 0.26);
        }
      }
    }
  }
}
