&-ExpertTutors {
  margin: 0 0 140px;
  h2 {
    margin: 0 auto 45px;
    font-size: 5em;
    font-weight: 600;
    letter-spacing: -1.12px;
    line-height: 1.12;
    text-align: center;
    max-width: 935px;
    @media screen and (max-width: 1200px) {
      font-size: 3em;
    }
  }
  &-List {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }
    &-Item {
      flex-grow: 1;
      display: flex;
      padding: 0 35px 0 0;
      img {
        width: 95px;
        margin-right: 20px;
        @media screen and (max-width: 1200px) {
          margin-left: 20px;
        }
      }
      p {
        font-size: 1.8em;
        letter-spacing: 0.18px;
        line-height: 1.6;
        margin: 0;
        font-weight: 300;
        strong {
          display: block;
          margin-bottom: 5px;
          font-weight: 600;
        }
      }
    }
  }
}
