&-Intro {
  margin-bottom: 120px;
  text-align: center;
  h1 {
    font-size: 5em;
    font-weight: 600;
    letter-spacing: -1.56px;
    line-height: 1.1;
    margin: 0 0 16px;
    @media screen and (max-width: 1200px) {
      font-size: 3em;
    }
  }
  p {
    font-size: 1.8em;
    letter-spacing: 0.18px;
    line-height: 1.6;
    margin: 0 0 100px;
  }
  @import "PricingIntroPlanList";
  @import "MonthlyPricingIntro";
}
