&-Help {
  border: 5px solid $shellpeach;
  border-radius: 5px;
  padding: 60px 60px 40px;
  @media screen and (max-width: 1200px) {
    padding: 12px 12px 12px;
  }
  box-shadow: 0 1px 2px 0 rgba($black, 0.14);
  h2 {
    font-size: 5em;
    font-weight: 600;
    letter-spacing: -1.12px;
    line-height: 1.12;
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba($seance, 0.2);
  }
  &-Cols {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }
    &-Text {
      flex-grow: 1;
    }
    &-Form {
      min-width: 640px;
      padding: 30px 0 0;
      .easya-btn-nav {
        width: 250px;
      }
      @media screen and (max-width: 1200px) {
        width: auto;
        min-width: auto;
      }
    }
    .Questions {
      margin: 40px 0 50px;
      h3 {
        margin: 0 0 20px;
        font-size: 2.2em;
        font-weight: 600;
        letter-spacing: 0.22px;
        line-height: 1.318;
      }
      p,
      a {
        font-size: 1.6em;
        letter-spacing: 0.16px;
        line-height: 1.318;
      }
      a {
        font-weight: 600;
        color: $tango;
        img {
          vertical-align: middle;
          position: relative;
          top: -1px;
        }
      }
    }
  }
  @media only screen and (max-width: 1200px) {
    body .App .FAQs-Help-Cols {
      flex-direction: column;
    }
  }
}
