.FAQs {
  color: $nvgum;
  @include PageWrap(60px);
  @media screen and (max-width: 575px) {
    margin: 40px auto;
  }
  h1 {
    font-size: 7em;
    font-weight: 600;
    margin-bottom: 60px;
    letter-spacing: -1.56px;
  }
  &-List {
    padding: 50px;
    border-radius: 20px;
    background-color: $shellpeach;
    margin: 0 0 50px;
    &-Item {
      border-top: 1px solid rgba($seance, 0.2);
      h3 {
        margin: 0;
        cursor: pointer;
        padding: 30px;
        font-size: 1.8em;
        font-weight: 600;
        letter-spacing: 0.18px;
        line-height: 1.6;
        overflow: hidden;
        img {
          float: right;
          margin-top: 10px;
        }
      }
      p {
        padding: 30px;
        margin: 0;
        font-size: 1.8em;
        letter-spacing: 0.18px;
        line-height: 1.6;
        margin-right: 75px;
      }
      &.Open {
        background-color: $white;
        border: 0;
        border-radius: 10px;
        overflow: hidden;
        border: 0;
        box-shadow: 0 1px 2px 0 rgba($black, 0.14);
        + .FAQs-List-Item {
          border: 0;
        }
        + .Open {
          margin-top: 30px;
        }
        h3 {
          background-color: $tango;
          color: $white;
        }
      }
    }
  }
  &-Help {
    border: 5px solid $shellpeach;
    border-radius: 5px;
    padding: 60px 60px 40px;
    box-shadow: 0 1px 2px 0 rgba($black, 0.14);
    h2 {
      font-size: 5em;
      font-weight: 600;
      letter-spacing: -1.12px;
      line-height: 1.12;
      margin: 0;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba($seance, 0.2);
    }
    &-Cols {
      display: flex;
      flex-direction: row;
      &-Text {
        flex-grow: 1;
      }
      &-Form {
        min-width: 640px;
        padding: 30px 0 0;
        .easya-btn-nav {
          width: 250px;
        }
      }
      .Questions {
        margin: 40px 0 50px;
        h3 {
          margin: 0 0 20px;
          font-size: 2.2em;
          font-weight: 600;
          letter-spacing: 0.22px;
          line-height: 1.318;
        }
        p,
        a {
          font-size: 1.6em;
          letter-spacing: 0.16px;
          line-height: 1.318;
        }
        a {
          font-weight: 600;
          color: $tango;
        }
      }
    }
  }
}
