.FAQs {
  color: $nvgum;
  @include PageWrap(60px);
  @media screen and (max-width: 575px) {
    margin: 40px auto;
  }
  h1 {
    font-size: 7em;
    font-weight: 600;
    margin-bottom: 60px;
    letter-spacing: -1.56px;
  }
  &-List {
    padding: 50px;
    border-radius: 20px;
    background-color: $shellpeach;
    &-Item {
      border-top: 1px solid rgba($seance, 0.2);
      h3 {
        margin: 0;
        cursor: pointer;
        padding: 30px;
        font-size: 1.8em;
        font-weight: 600;
        letter-spacing: 0.18px;
        line-height: 1.6;
        overflow: hidden;
        img {
          float: right;
          margin-top: 10px;
        }
      }
      p {
        padding: 30px;
        margin: 0;
        font-size: 1.8em;
        letter-spacing: 0.18px;
        line-height: 1.6;
        margin-right: 75px;
      }
      &.Open {
        background-color: $white;
        border: 0;
        border-radius: 10px;
        overflow: hidden;
        border: 0;
        box-shadow: 0 1px 2px 0 rgba($black, 0.14);
        + .FAQs-List-Item {
          border: 0;
        }
        h3 {
          background-color: $tango;
          color: $white;
        }
      }
    }
  }
}
