&-Intro {
  display: flex;
  flex-direction: row;
  margin:45px;
  color: $white;
  
  @media screen and (max-width: 1200px) {
    display: block;
  }
  @import "BlogFeatured";
  @import "BlogRecentList";
}
