&-RecentList {
  min-width: 400px;
  margin: 0 0 0 30px;
  background-color: $seance;
  border-radius: 20px;
  padding: 40px;
  li {
    margin: 0 0 30px;
    padding: 0;
    list-style: none;
    p {
      font-size: 1.4em;
      font-weight: 300;
      letter-spacing: 0.39px;
      line-height: 2;
      margin: 0;
      span {
        display: inline-block;
        width: 2em;
        color: $nvgum;
        background-color: $supernova;
        text-align: center;
        margin-right: 15px;
      }
      strong {
        font-weight: 300;
        opacity: 0.7;
        text-transform: uppercase;
      }
      &.date {
        opacity: 0.3;
      }
    }
    h3 {
      font-family: "Inter";
      font-size: 1.65em;
      font-weight: 300;
      letter-spacing: 0.5px;
      line-height: 1.55;
      margin: 5px 0;
      a {
        color: inherit;
      }
    }
  }
  @media screen and (max-width: 575px) {
    margin: 0;
    border-radius: 0;
  }
}
