&-Team {
  color: $nvgum;
  margin: 45px;
  h2 {
    margin: 0 0 75px;
    font-size: 5em;
    font-weight: 600;
    letter-spacing: -0.72px;
    line-height: 1.12;
    text-align: center;
  }
  &-List {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &-Item {
      width: 25%;
      text-align: center;
      padding: 15px;
      margin-bottom: 85px;
      position: relative;
      img {
        transition: all 0.25s linear;
        &:first-child {
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
        }
        &.Ball {
          position: absolute;
          width: 150px;
          z-index: 5;
          top: 0;
          right: 0;
          opacity: 0;
          border-radius: 0;
        }
        display: block;
        width: 100%;
        padding: 0 32px 32px;
        border-radius: 100%;
      }
      p {
        transition: all 0.25s linear;
        font-family:serif;
        font-size: 1.6em;
        line-height: 1.714;
        font-style: italic;
        margin: 0;
        & + p + p + p {
          margin-top: 15px;
        }
        &.Name {
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          font-size: 3.0em;
          line-height: 1.318;
          font-style:normal;
          font-weight: bold;
          margin: 0 0 8px;
        }
        &.Role {
          font-family:'Courier New', Courier, monospace;
          font-size: 1.8em;
          font-style: normal;
          line-height: 1.3;
          font-weight:500;
          margin: 0 0 15px;
        }
      }
      &:hover {
        p {
          &.Name{
            color: #a00909;
          }
          &.Role {
            color: $tango;
          }
        }
        img {
          &:first-child {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
          }
          &.Ball {
            opacity: 1;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    h2 {
      margin: 70px 0;
      font-size: 3.2em;
      letter-spacing: -0.72px;
      line-height: 1.28;
    }
    &-List {
      display: block;
      &-Item {
        width: auto;
        margin-bottom: 55px;
      }
    }
  }
}
