&-Brains {
  margin: 120px 0 95px;
  color: $nvgum;
  h2 {
    font-family: "Garamond", Times, serif;
    font-size: 5em;
    line-height: 1.12;
    font-weight: 600;
    letter-spacing: -0.72px;
    max-width: 625px;
    margin: 60px;
  }
  &-Wrap {
    margin: 40px;
    border-radius: 50px;
    padding: 100px;
    display: flex;
    justify-content: space-around;
    background: no-repeat rgba($tango, 0.33);
    background-image: url("../../assets/AboutLeft.png"),
      url("../../assets/AboutRight.png");
    background-size: 100px, 200px;
    background-position: 65px center, right center;
  }
  &-Profile {
    background-color: #f0eaea;
    border-radius: 10px;
    padding: 22px;
    width: 400px;
    img {
      border-radius: 10px;
      overflow: hidden;
      display: block;
      width: 100%;
      margin-bottom: 20px;
    }
    h3 {
      margin: 0;
      font-size: 2.2em;
      font-weight: 550;
      letter-spacing: 0.22px;
      line-height: 1.12;
    }
    p {
      
      font-size: 1.4em;
      font-style: italic;
      font-weight: 50;
      font-family: Georgia, 'Times New Roman', Times, serif;
      letter-spacing: 0.14px;
      line-height: 1.715;
      &.lead {
        font-family: 'Times New Roman', Times, serif;
        font-style:normal;
        font-weight: 600;
        font-size: 1.6em;
        letter-spacing: 0.16px;
        line-height: 1.25;
        margin: 5px 0 15px;
        @media screen and (max-width: 1200px) {
          margin: 10px 0 30px;
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    margin: 0;
    padding: 5px 16px;
    h2 {
      font-size: 3.2em;
      line-height: 1.28;
      letter-spacing: -0.72px;
      max-width: none;
      margin: 0 0 36px;
    }
    &-Wrap {
      border-radius: 0;
      padding: 32px 16px;
      display: block;
    }
    &-Profile {
      padding: 16px;
      width: auto;
      margin-top: 32px;
      box-shadow: 0 1px 2px 0 rgba($black, 0.14);
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
