&-Learn {
  @include EasyABanner;
  overflow: visible;
  margin: 95px;
  &-Text {
    color: $nvgum;
    padding-top: 50px;
    h2 {
      margin: 45px 0 0;
      letter-spacing: -1.56px;
    }
    p {
      margin: 20px 0 0;
      font-size: 1.8em;
      letter-spacing: 0.18px;
      line-height: 1.61;
    }
  }
  &-Image {
    width: 525px;
    img {
      width: 740px;
      position: relative;
      left: -215px;
    }
  }
  @media screen and (max-width: 1200px) {
    margin: 0;
    &-Text {
      padding: 0 16px 40px;
      text-align: left;
      h2 {
        margin: 0;
        font-size: 3.2em;
        line-height: 1.15;
      }
      p {
        font-size: 1.8em;
        letter-spacing: 0.18px;
        line-height: 1.625;
        padding-bottom: 60px;
        border-bottom: 1px solid rgba($seance, 0.2);
      }
    }
    &-Image {
      margin: 120px 0 36px;
      img {
        position: static;
        width: auto;
        height: 250px;
        left: -65px;
      }
    }
  }
}
