.AceTestWithEasyA {
  padding: 50px 600px 50px 110px;
  margin: 100px 0 225px;
  background-color: $seance;
  border-radius: 20px;
  color: $white;
  position: relative;
  h2 {
    font-size: 5em;
    font-weight: 600;
    letter-spacing: -1.12px;
    line-height: 1.12;
    margin: 0 0 25px;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 10px 0;
      list-style: none;
      font-size: 1.8em;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 1.6;
      img {
        position: static;
        display: inline-block;
        margin-top: -5px;
        width: auto;
        vertical-align: middle;
        margin-right: 10px;
        width: 15px;
      }
    }
  }
  img {
    position: absolute;
    width: 350px;
    right: 100px;
    top: 75px;
  }
  @media screen and (max-width: 575px) {
    padding: 50px 0 50px 15px;
    margin: 0;
    background-color: $seance;
    border-radius: 0;
    color: $white;
    position: relative;
    h2 {
      font-size: 3.2em;
      font-weight: 600;
      letter-spacing: -1.12px;
      line-height: 1.12;
      margin: 0 0 25px;
    }
    ul {
      li {
        margin: 0;
        padding: 10px 0;
        list-style: none;
        font-size: 1.8em;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 1.6;
        img {
          position: static;
          display: inline-block;
          margin-top: -5px;
          width: auto;
          vertical-align: middle;
          margin-right: 10px;
          width: 15px;
        }
      }
    }
    img {
      position: static;
      width: 350px;
      margin-top: 40px;
    }
  }
}
