.TeacherSlider {
  &-Slide {
    display: inline-flex !important;
    flex-direction: row;
    &-Text {
      text-align: left;
      h3 {
        margin: 0 0 50px;
        font-size: 3.6em;
        font-weight: 600;
        letter-spacing: 0.1px;
        line-height: 1.4;
      }
      h4 {
        margin: 0;
        font-size: 2.2em;
        font-weight: 600;
        letter-spacing: 0.22px;
        line-height: 1.318;
      }
      p {
        margin: 0;
        font-size: 1.6em;
        font-weight: 600;
        letter-spacing: 0.16px;
        line-height: 1.25;
      }
    }
    &-Image {
      min-width: 400px;
      img {
        display: block;
        width: 100%;
        border-radius: 10px;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    &-Slide {
      display: inline-block !important;
      &-Text {
        h3 {
          font-size: 2.25em;
          margin: 0 0 16px;
        }
        h4 {
          font-size: 2em;
        }
        p {
          margin: 0 0 10px;
          margin-top: 10px;
        }
      }
      &-Image.TeacherSlider-Slide-Image {
        padding: 30px 50px 35px;
        text-align: center;
        img:first-child {
          width: auto;
          display: inline-block;
        }
      }
    }
  }
}
