&-Board {
  margin: 120px 0 0;
  color: $nvgum;
  > img {
    &:first-child {
      width: 100px;
      display: block;
      margin: 0 auto 10px;
    }
  }
  h2 {
    font-size: 5em;
    font-weight: 600;
    letter-spacing: -1.12px;
    line-height: 1.12;
    text-align: center;
    margin: 0 0 60px;
  }
  &-Slider {
    padding: 64px;
    border-radius: 20px;
    color: $white;
    @media screen and (max-width: 1200px) {
      padding: 16px;
      border-radius: 0;
    }
  }
  .RoundIconRight {
    transform-origin: left top;
    transform: scale(0.5);
    position: relative;
    cursor: pointer;
    left: 75px;
    margin-top: -30px;
    margin-bottom: -65px;
    border-radius: 100%;
    @include SquishyButtons($tango, 0.25, 4px);
  }
  @media screen and (max-width: 1200px) {
    margin: 50px 0;
    text-align: left;
    img {
      &:first-child {
        width: 80px;
        margin: 0 16px 8px;
        display: inline-block;
      }
    }
    h2 {
      text-align: left;
      font-size: 3.2em;
      letter-spacing: -0.72px;
      line-height: 1.28;
      margin: 0 16px 36px;
    }
    .RoundIconRight {
      margin-bottom: -75px;
      left: 15px;
    }
  }
}
