.WMCAL {
  @include PageWrap(60px);
  @media screen and (max-width: 575px) {
    margin: 40px auto;
  }
  @import "WMCALIntro";
  @import "WMCALBoard";
  &-Blogs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 120px 0;
  }
  &-Approach {
  }
}
