.WMCAL {
  @include PageWrap(120px);
  @media screen and (max-width: 1200px) {
    margin: 40px auto;
  }
  @import "WMCALIntro";
  @import "WMCALBoard";
  @import "WMCALBlogs";
  @import "WMCALApproach";
  @import "WMCALReviews";
  @import "WMCALPrinciples";
}
